modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick", "ffmpeg"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:2.0.0", "javascript_openai_ai_integrations:2.0.0", "javascript_object_storage:2.0.0"]

[userenv]

[userenv.shared]
ADMIN_USER_ID = "42663365,admin_vungtausaver,kakao_4725775455"
VAPID_SUBJECT = "mailto:dokkaebi.vungtau@gmail.com"
VAPID_PUBLIC_KEY = "BNp03vnXSxpNAEy0DyfkJ6I1On31ioB8ryZsseJ_a9pVE0OJsF2VQpN_gtMOj3T57pAh17UAjNPvGw77MKN8v0I"
VAPID_PRIV = "Tdy0lICLch-paYKdyJh76vfdvZ1tAHjSqGQnpb7RFMM"
PUSH_PUB = "BIOVlVfrjzNlGSNK4FDEaA2DNBdUvK6N4Qb_aw8HYV7CZkhXDLjR8mOtmk304TxZRwUkbkaVTjndb8qY3k2BIdY"
PUSH_PRIV = "wwWrG3djMttinE8hVZiqtb22o8BoT73QUZz6owgGclQ"
